@import "reset.css";
@import "status-bar.css";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap");

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";

/* Screens */
@import "screens/login.css";
@import "screens/frineds.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body {
  font-family: "Playfair Display", serif;
  color: #2e363e;
}

.main-screen {
  padding: 0 25px;
}

.background-img {
  position: fixed;
}
